/* Common Style */
* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
}

.btn {
  border: none;
  background-color: #e55473;
  border-radius: 5px;
  color: white;
  font-weight: 700;
}

.primary-color {
  color: #e55473;
}

.primary-heading {
  color: #272727;
  text-align: center;
  font-size: 30px;
  font-weight: 900px;
}
.primary-text {
  color: #7c7677;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  margin: 20px 450px;
}

/* Header Style */
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  width: 100%;
  height: 560px;
  background-color: #fceef1;
  padding-top: 40px;
}
.header-content {
  max-width: 450px;
}
.header-heading {
  color: #272727;
  font-size: 50px;
  font-weight: 900;
}
.header-text {
  color: #7c7677;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  padding: 20px 0;
}
.header-btn {
  padding: 14px 32px;
}
.header-image {
  width: 447px;
}

/* Features Section Style */
.features {
}

.feature-flowers {
  margin: 120px 0;
}
.flower-collections {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-align: center;
  margin-top: 30px;
}
.flower {
  width: 330px;
  height: 380px;
  background-color: #f1dde7;
  display: flex;
  justify-content: center;
  /* align-items:flex-end; */
  border-radius: 175px 175px 0px 0px;
  margin-bottom: 24px;
}
.flower-1 {
  background-color: #f1dde7;
  align-items: flex-end;
}
.flower-1 img {
  width: 225px;
  height: 305px;
}
.flower-2 {
  background-color: #d9eff0;
  align-items: center;
}
.flower-2 img {
  width: 262px;
  height: 262px;
  padding-top: 40px;
}
.flower-3 {
  background-color: #e3ebdb;
  align-items: flex-end;
}
.flower-3 img {
  width: 225px;
  height: 336px;
}
.flower-collections a {
  color: #272727;
  font-size: 17px;
  font-weight: 700;
}

/* Delivery Section Style */
.delivery-cotainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background-color: #f4f4f4;
  margin: 0 160px 90px 160px;
  padding: 71px 0;
  border-radius: 8px;
}
.delivery-image {
  text-align: center;
}
.delivery-image img {
  width: 65px;
}
.delivery-image p {
  color: #505050;
  font-weight: 600;
}

/* Offer Section Style */
.offer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
  width: 100%;
  background-color: #fdf6f8;
  padding: 68px 0;
}
.offer-content {
  text-align: center;
}
.offer-heading {
  color: #272727;
  font-size: 30px;
  font-weight: 800;
}
.offer-text {
  color: rgba(39, 39, 39, 0.6);
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  max-width: 450px;
  padding: 22px 0;
}
.offer-image img {
  width: 228px;
  height: 300px;
}
.offer-btn {
  padding: 14px 32px;
}

/* Instagram Section Style */
.instagram {
  margin: 90px 0px;
}
.instagram-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-top: 30px;
}
.instagram-image-box {
  width: 246px;
  height: 284px;
}
.instagram-image-box img {
  width: 100%;
}

/* Deal Section Style */
.deal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .deal-background{
    background-image: url("./images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 76%;
    height: 320px;
    align-items: center;
  }
  .deal-heading{
    margin-top: 78px;
  }
  .deal-text{
    margin: 20px 400px 30px 400px;
  }
  input[type="email"]{
    border: none;
    width: 465px;
    padding: 15px;
    border-radius: 5px;
    margin-right: 4px;
  }
  .deal-container input[type="submit"]{
    padding: 15px 23px;
    margin-left: 4px;
  }

  /* Bonus Section */
/* Client Comment Section */
.client-comment-section{
  display: flex;
  height: 450px;
  margin-top: 90px;
}
.client-content{
 width: 50%;
 background-color: #FDF6F8;
}
.client-heading{
  margin-top: 100px;
  margin-left: 270px;
}
.client-bg-image{
  width: 50%;
  background-image: url("./images/white-flower.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.client-img{
  width: 100px;
  height: 100px;
  border-radius: 50px;
  position: relative;
  /* top: 40px;
  left: 350px; */
}
.client-profile{
  position: relative;
  right: 50px;
}
.client-comment{
  width: 600px;
  padding: 40px 90px 40px 0px;
  background-color: white;
  position: relative;
  top: 40px;
  left: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}
.client-text p{
  color: #7c7677;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.client-text h4{
  color: #343434;
  font-weight: 600;
  padding-top: 10px;
}
.quotation{
  font-size: 50px;
}

/* Footer Section Style */
  .footer-section{
    width: 100%;
    /* height: 320px; */
    background-color: #111010;
    text-align: center;
    margin-top: 90px;
    padding: 90px 0px;
  }
  .footer-section h2{
    color: white;
  }
  .footer-section p{
    color: white;
  }
  .copyright{
    color: #F9F9F9;
    font-size: 12px;
  }
